{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}
  {% call cards.render('', 'order-error container')%}
  <div class="error-lottie"></div>

  <h2>Desculpe
    <span class="material-icons md-18 icon align">
      sentiment_dissatisfied
    </span>
  </h2>
  <p>Não foi possivel realizar seu pedido, tente novamente ou entre em contato com nossa equipe.</p>
  <a href="#" onclick="history.back()">Voltar</a>
  {% endcall %}

  <script src="/lottie.min.js"></script>
  <script>
    const element = document.querySelector('.error-lottie')
    lottie.loadAnimation({
      container: element, // the dom element that will contain the animation
      renderer: 'svg',
      loop: false,
      autoplay: true,
      path: '/5707-error.json' // the path to the animation json
    }).setSpeed(1);
  </script>
{% endblock %}