{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}
  {% call cards.render('', 'order-success container')%}
  <div class="success-lottie"></div>
  
    <h2>Pedido Realizado com sucesso</h2>
    <p>Aguarde a resposa do vendedor no seu e-mail.</p>
    <a href="/products/search">Comprar mais</a>
  {% endcall %}

  <script src="/lottie.min.js"></script>
  <script>
    const element = document.querySelector('.success-lottie')
    lottie.loadAnimation({
      container: element, // the dom element that will contain the animation
      renderer: 'svg',
      loop: false,
      autoplay: true,
      path: '/33639-sucesso.json' // the path to the animation json
    });
  </script>
{% endblock %}